h5 {
    font-family: 'Cinzel', serif;
    font-size: 85px;
    text-align: right;
    font-style: bold;
    text-shadow: 1px 1px 2px black, 0 0 25px goldenrod, 0 0 5px black;
    color: whitesmoke;
}

.btn {
    text-align: right;
    border-radius: 0;
    font-size: 15px;
    padding: 18px 40px 18px 40px;
    font-family: 'Montserrat', sans-serif;
}

#thirty {
    width: 100%;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {
    h5 {
        font-size: 30px;
        text-shadow: 1px 1px 2px black, 0 0 25px goldenrod, 0 0 5px black;
    }
    .btn {
        font-size: 12px;
    }
} 